# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/version/
/logo.png
/.idea/
/build/
/gradlew
/README.txt
/run/
/changelog.txt
/LICENSE.txt
/CREDITS.txt
/.gradle/
/gradlew.bat
/logs/
/version/
